.food_dis{
    margin-top:  30px;
}
.add-btn{
    width: 40px;
    margin-left:5px;
}
.food_dis h2{
    font-size: 24px;
    font-weight: 600;
}
.food-dis-lst{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(240px ,1fr));
    /* grid-template-columns: auto; */
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.add-p{
    color: brown;
    margin-left: 20px;
    width: 200px;
    padding: 10px;
}
.food_item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    transition-duration: .3s;
    animation: fadein;
}
.f-img img{
    width:100%;
    border-radius: 15px 15px 0px 0px;
    max-height: 130px;
    max-width: 400px;

}
.food_info{
    padding: 20px;
}
