
.pfp{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-left: -60px;
}
.Navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-men{
    color: hsl(180, 13%, 32%);
    display: flex;
    gap: 20px;
    margin-left: 30px;
    list-style: none;
}
.nav-men li{
    cursor: pointer;
}
.navbar-right{
    align-items: center;
    display: flex;
    gap: 25px;
}
.Navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid grey;
    padding: 10px 30px ;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: all;
}
.src_logo{
    cursor: pointer;
}
.Navbar button:hover{
    background-color: aliceblue;
}

.acitve{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-src-icn{
    position: relative;
}
.navbar-src-icn .dot{
    position: absolute;
    min-width: 10px;
    min-height:10px;
    background-color: lightskyblue;
    border-radius: 5px;
    top:  -8px;
    right: -8px;
}
@media (max-width : 750px) {
    
    .nav-men{
        /* display: none; */
        width: 100%;
    }
    .nav-men p {
        font-size: 14px;

    }
}
@media (max-width : 1050px) {
    .Navbar .logo {
        width :50px;
        margin-left: -20px;
    }
    .cart-logo{
        width :100px;
    
    }
    .Navbar button{
        background: transparent;
        font-size: 16px;
        color: #49557e;
        border: 1px solid grey;
        padding: 5px 10px ;
        border-radius: 50px;
        cursor: pointer;
        transition-duration: .3s;
        transition-property: all;
    }
    .nav-men{
        gap:20px;
        font-size: 18px;
    }
    .navbar-right{
        gap: 22px;
    }
    .navbar-right img{
        width: 22px;

    }
    .navbar-right botton{
        padding: 8px;
    }
    
}