.Your_Details{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    justify-content: center;
}
input{
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    background-color: rgb(161, 182, 182);
}
.Your_Details h1{
    color: black;

}
.totof{
    padding: 20px;
}
.button-3{
    margin-top: 30px;
    background-color: rgb(115, 206, 176);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.head{
    text-align: center;
    color: rgb(82, 75, 67);
}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px;

}